
.inventory-list .card{
    height: auto;
    margin-bottom: 20px;
    padding-bottom: 40px;
    font-size: 15px;
    box-shadow: 0 1rem 1rem rgb(0 0 0 / 8%);
}
.inventory-list .card-header{
    font-size: 20px;
    padding:15px;
    background-color:white;
    margin-bottom: 15px;
}


.inventory-list  .btn-list:hover{
    box-shadow: 0 2px 6px 0  rgb(142 155 156 / 50%);
}

.inventory-list  .btn-list{
    background-color: var(--color-main);
    color: white;
    border-radius: 2px;
    font-size: 15px;
}

/* Edit Icone */
.inventory-list .table .fa-edit{
    color: #28a745;
    background-color: #e7ffec;
    border-radius: 2px;
    padding: 4px;
    font-size: 13px;
    border: 1px solid #28a745;
    margin-top: 5px;
    margin-left: 12px;
}

/* Delete Icone */
.inventory-list .table .fa-trash{
    color: #dc3545;
    background-color: #ffe3e6;
    border-radius: 2px;
    padding: 4px;
    font-size: 13px;
    border: 1px solid #dc3545;
    margin-top: 5px;
    margin-left: 5px;
}

.inventory-list .table .fa-dolly-flatbed{
    color: #2160be;
    background-color: #d0def3;
    border-radius: 2px;
    padding: 3px 2px 3px 2px;
    font-size: 15px;
    border: 1px solid #2160be;
    margin-top: 5px;
    margin-left: 5px;
}


.inventory-list .table .fa-dolly-flatbed:hover{
    color: #d0def3;
    background-color: #2160be;
}

/* Edit Icone Hover*/
.inventory-list .table .fa-edit:hover{
    color:  #e7ffec;
    background-color: #28a745;
}

/* Delete Icone Hover */
.inventory-list .table .fa-trash:hover{
    color: #ffe3e6;
    background-color: #dc3545;
}

/* Edit Button Add Customar */
.inventory-list .card-header button{
    font-size: 15px;
}


.inventory-list .card-body .icone-pdf-excel{
    background-color: #f0f1f1;
}

.inventory-list .card-body .icone-pdf-excel i{
    padding: 10px;
    background-color: #f0f1f1;
    margin: 0;
    color: black;
}

.inventory-list .card-body .icone-pdf-excel i:hover{
    background-color: #cecece
}
.inventory-list .form-control {
    width: auto;
}

table.dataTable.dtr-inline.collapsed>tbody>tr.parent>td.dtr-control:before, table.dataTable.dtr-inline.collapsed>tbody>tr.parent>th.dtr-control:before{
    content: "-";
    background-color: var(--color-main) !important;
}

table.dataTable.dtr-inline.collapsed>tbody>tr>td.dtr-control:before, table.dataTable.dtr-inline.collapsed>tbody>tr>th.dtr-control:before {
    background-color: var(--color-main) !important;
}

.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border: 1px solid rgb(255 255 255 / 15%) !important;
}
.table-info, .table-info>td, .table-info>th {
    background-color: #eafcff52;
}

/* Edit Button Search */
.dataTables_filter input{
    margin-bottom: 20px;
    padding-top: 20px; 
    padding-bottom: 20px;
    font-size: 14px;
    border: #afafaf solid 1px;
}

.dataTables_filter input:focus{
    border: var(--color-main) solid 1px;
    box-shadow: inset 0 1px 1px rgb(0 124 160 / 10%), 0 0 20px rgb(0 124 160/ 10%);
}


.dataTables_length select{
    font-size: 14px;
    border: #afafaf solid 1px;
} 


.dataTables_length select:focus{
    border: var(--color-main) solid 1px;
    box-shadow: inset 0 1px 1px rgb(0 124 160 / 10%), 0 0 20px rgb(0 124 160/ 10%);
}

select.form-control-sm:not([size]):not([multiple]){
    height: 40px;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: var(--color-main);
    border-color: var(--color-main);
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: var(--color-main);
    border-radius: 2px !important;
}

.pagination>li>a, .pagination>li>span {
    color: var(--color-main);
}
table.table-bordered.dataTable {
    border-right-width: 1px !important;
}
