body{
    background-color: #bee5eb;
    margin-right: 70px;
}


.card{
    border: transparent;
    height: auto;
    background-color: white;
    margin-top: 60px;
    border-radius: 30px;
    box-shadow: 1rem 1rem 1rem rgb(0 0 0 / 8%);
    margin-bottom: 20px;
    padding-bottom: 70px;

}


.header{
    font-size: 40px;
    color:#17a2b8;
    font-weight: bold;
    margin-top: 40px;
}
.login .col{
    margin-top: 25px;
    margin-bottom: 30px;
}
.login input{
    height: 50px;
    font-size: 15px;
    border:none;
    border-bottom: 2px solid #c9c9c9;
}

.login .card-body button{
    font-size: 15px;
    border-radius: 2px;
    padding: 5px;
    padding-right: 16px;
    padding-left: 16px;
    margin-right: 15px;
    margin-top: 30px;
    margin-left: 15px;
}

.form-control:focus {
    border-bottom: 2px solid #17a2b8;
    box-shadow: none;
}
.form-control{
    border-bottom: 2px solid #17a2b8;
    box-shadow: none;
}
.focus-input {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    margin-left: 15px;
}
.focus-input::after {
    font-size: 15px;
    color: #999;
    line-height: 1.2;
    content: attr(data-placeholder);
    display: block;
    width: 100%;
    position: absolute;
    top: 16px;
    left: 0;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s;
}
.input:focus + .focus-input::after {
    top: -15px;
    font-size: 13px;
    color: #17a2b8;
}
.has-val.input + .focus-input::after {
    top: -15px;
    font-size: 13px;
}

.login .btn-info:hover{
    box-shadow: 0 2px 6px 0 rgb(40 151 167 / 50%);
}

.btn:active:focus, .btn:focus {
    outline: none;
}
.login img{
    margin-top: 10px;
    margin-left: 10px;
    border:none;
}

@media (max-width: 1200px) {
    .login img{
        margin-top: 20px;
    }
}

@media (max-width: 1100px) {
    .login img{
        margin-top: 30px;
    }
}

@media (max-width: 1000px) {
    .login img{
        margin-top: 40px;
    }
}

@media (max-width: 992px) {
    .login img{
        margin-top: 45px;
    }
}
.login .card-body button:hover{
    box-shadow: 0 2px 6px 0 rgb(40 151 167 / 50%);
}
.form-check-label{
    color:#17a2b8;
    margin-top: 22px;
    margin-left: 20px;
}
.form-check{
    margin-top: 10px;
    margin-left: 3px;
}





/* img{
    width: 90%;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    margin-left: 50px;
}


.form-login input{
    height: 50px;
    font-size: 15px;
    border:none;
    border-bottom: 2px solid #c9c9c9;
}
.form-control:focus {
    border-bottom: 2px solid #17a2b8;
    box-shadow: none;
}
.form-control{
    border-bottom: 2px solid #17a2b8;
    box-shadow: none;
}
.focus-input {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    margin-left: 15px;
}

.form-login{
    margin-top: 60px;
    margin-left: 50px;
}
form{
    margin-top: 20px;
}
.input{
    margin-top: 30px;
}
.btn{
    margin-top: 40px;
    margin-left: 15px;
    padding-left: 103px;
    padding-right: 103px;
    font-size: 15px;
}



 */
