
.show-details-thermometer .card{
    height: auto;
    margin-bottom: 20px;
    padding-bottom: 40px;
    font-size: 15px;
    box-shadow: 0 1rem 1rem rgb(0 0 0 / 8%);
}
.show-details-thermometer .card-header{
    font-size: 20px;
    padding:15px;
    background-color:white;
    margin-bottom: 15px;
}



.show-details-thermometer .btn-list:hover{
    box-shadow: 0 2px 6px 0  rgb(142 155 156 / 50%);
}

.show-details-thermometer .btn-list{
    background-color: var(--color-main);
    color: white;
    border-radius: 2px;
    font-size: 15px;
}
.show-details-thermometer .card-header button {
    font-size: 15px;
}


.show-details-thermometer .form-control {
    width: auto;
}


.show-details-thermometer label{
    font-size: 16px;
}

.show-details-thermometer .row-details{

    transition: all 0.3s ease-in-out;
}

.show-details-thermometer .row-details:hover{
    color: var(--color-main);
    margin-left: 18px;
    transition: all 0.3s ease-in-out;
}
.show-details-thermometer .value{
    font-weight: normal;
    font-size: 16px;
}

.show-details-thermometer img{
    height: 360px;
    width: 460px;
    margin-top: 50px;
    margin-left: 200px;
}


@media (max-width: 1150px) {
    .show-details-thermometer img{
        margin-top: 70px;
        height: 300px;
        width: 400px;
        margin-left: 100px;
    }
}

@media (max-width: 1050px) {
    .show-details-thermometer img{
        margin-top: 100px;
        height: 260px;
        width: 350px;
        margin-left: 100px;
    }
}

@media (max-width: 800px) {
    .show-details-thermometer img{
        margin-top: 100px;
        height: 200px;
        width: 250px;
    }
}


/* @media (max-width: 992px) {
    .show-details-thermometer img{
        width: ;
        height: ;
    }
} */
