
/* Start Page Customer List */


.warehouse-orders-report .card{
    height: auto;
    margin-bottom: 20px;
    padding-bottom: 40px;
    font-size: 15px;
    box-shadow: 0 1rem 1rem rgb(0 0 0 / 8%);
}
.warehouse-orders-report .card-header{
    font-size: 20px;
    padding:15px;
    background-color:white;
    margin-bottom: 15px;
}



.warehouse-orders-report .card{
    height: auto;
    margin-bottom: 20px;
    padding-bottom: 40px;
    font-size: 15px;
    box-shadow: 0 1rem 1rem rgb(0 0 0 / 8%);
}
.warehouse-orders-report .card-header{
    font-size: 20px;
    padding:15px;
    background-color:white;
    margin-bottom: 15px;
}


/* Purchases Icone */
.warehouse-orders-report .table .fa-cart-arrow-down{
    color: #ce13d4;
    background-color: #fdc1ff;
    border-radius: 2px;
    padding: 4px;
    font-size: 14px;
    margin-left: 10px;
    border: 1px solid #ce13d4;
    margin-top: 5px;
    margin-left: 20px;
}


/* Purchases Icone Hover */
.warehouse-orders-report .table .fa-cart-arrow-down:hover{
    color:  #fdc1ff;
    background-color:  #ce13d4;
}


/* Edit Button Add Customar */
.warehouse-orders-report .card-header button{
    font-size: 15px;
}


.warehouse-orders-report .form-control {
    width: auto;
}

table.dataTable.dtr-inline.collapsed>tbody>tr.parent>td.dtr-control:before, table.dataTable.dtr-inline.collapsed>tbody>tr.parent>th.dtr-control:before{
    content: "-";
    background-color: var(--color-main) !important;
}

table.dataTable.dtr-inline.collapsed>tbody>tr>td.dtr-control:before, table.dataTable.dtr-inline.collapsed>tbody>tr>th.dtr-control:before {
    background-color: var(--color-main) !important;
}

.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border: 0.1px solid #c9c9c9 !important;
}
.table-info, .table-info>td, .table-info>th {
    background-color: #eafcff52;
}

.table.dataTable {
    border-collapse:collapse !important;
}
/* Edit Button Search */
.dataTables_filter input{
    margin-bottom: 20px;
    padding-top: 20px; 
    padding-bottom: 20px;
    font-size: 14px;
    border: #afafaf solid 1px;
}

.dataTables_filter input:focus{
    border: var(--color-main) solid 1px;
    box-shadow: inset 0 1px 1px rgb(0 124 160 / 10%), 0 0 20px rgb(0 124 160/ 10%);
}


.dataTables_length select{
    font-size: 14px;
    border: #afafaf solid 1px;
} 


.dataTables_length select:focus{
    border: var(--color-main) solid 1px;
    box-shadow: inset 0 1px 1px rgb(0 124 160 / 10%), 0 0 20px rgb(0 124 160/ 10%);
}

select.form-control-sm:not([size]):not([multiple]){
    height: 40px;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: var(--color-main);
    border-color: var(--color-main);
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: var(--color-main);
    border-radius: 2px !important;
}

.pagination>li>a, .pagination>li>span {
    color: var(--color-main);
}
table.table-bordered.dataTable {
    border-right-width: 1px !important;
}



.datepicker {
    border-radius: 0;
    padding: 0;
}
.datepicker-days table thead, .datepicker-days table tbody, .datepicker-days table tfoot {
    padding: 10px;
    display: list-item;
    font-size: 14px;
}
.datepicker-days table thead, .datepicker-months table thead, .datepicker-years table thead, .datepicker-decades table thead, .datepicker-centuries table thead {
    background: var(--color-main);
    color: #ffffff;
    border-radius: 0;
}
.datepicker-days table thead tr:nth-child(2n+0) td, .datepicker-days table thead tr:nth-child(2n+0) th {
    border-radius: 3px;
}
.datepicker-days table thead tr:nth-child(3n+0) {
    text-transform: uppercase;
    font-weight: 300 !important;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.7);
}
.table-condensed > tbody > tr > td, .table-condensed > tbody > tr > th, .table-condensed > tfoot > tr > td, .table-condensed > tfoot > tr > th, .table-condensed > thead > tr > td, .table-condensed > thead > tr > th {
    padding: 11px 13px;
}
.datepicker-months table thead td, .datepicker-months table thead th, .datepicker-years table thead td, .datepicker-years table thead th, .datepicker-decades table thead td, .datepicker-decades table thead th, .datepicker-centuries table thead td, .datepicker-centuries table thead th {
    border-radius: 0;
}
.datepicker td, .datepicker th {
    border-radius: 50%;
    padding: 0 12px;
}
.datepicker-days table thead, .datepicker-months table thead, .datepicker-years table thead, .datepicker-decades table thead, .datepicker-centuries table thead {
    background: var(--color-main);
    color: #ffffff;
    border-radius: 0;
}
.datepicker table tr td.active, .datepicker table tr td.active:hover, .datepicker table tr td.active.disabled, .datepicker table tr td.active.disabled:hover {
    background-image: none;
}
.datepicker .prev, .datepicker .next {
    color: rgba(255, 255, 255, 0.5);
    transition: 0.3s;
    width: 37px;
    height: 37px;
}
.datepicker .prev:hover, .datepicker .next:hover {
    background: transparent;
    color: rgba(255, 255, 255, 0.99);
    font-size: 21px;
}
.datepicker .datepicker-switch {
    font-size: 24px;
    font-weight: 400;
}
.datepicker .datepicker-switch:hover {
    color: rgba(255, 255, 255, 0.7);
    background: transparent;
}
.datepicker table tr td span {
    border-radius: 2px;
    margin: 3%;
    width: 27%;
}
.datepicker table tr td span.active, .datepicker table tr td span.active:hover, .datepicker table tr td span.active.disabled, .datepicker table tr td span.active.disabled:hover {
    background-color: var(--color-main);
    background-image: none;
}
.dropdown-menu {
    border: 1px solid rgba(0,0,0,.1);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.datepicker-dropdown.datepicker-orient-top:before {
    border-top: 7px solid rgba(0,0,0,.1);
    
}

.datepicker table tr td.active:hover, .datepicker table tr td.active:hover:hover, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.active.disabled:hover:hover, .datepicker table tr td.active:active, .datepicker table tr td.active:hover:active, .datepicker table tr td.active.disabled:active, .datepicker table tr td.active.disabled:hover:active, .datepicker table tr td.active.active, .datepicker table tr td.active:hover.active, .datepicker table tr td.active.disabled.active, .datepicker table tr td.active.disabled:hover.active, .datepicker table tr td.active.disabled, .datepicker table tr td.active:hover.disabled, .datepicker table tr td.active.disabled.disabled, .datepicker table tr td.active.disabled:hover.disabled, .datepicker table tr td.active[disabled], .datepicker table tr td.active:hover[disabled], .datepicker table tr td.active.disabled[disabled], .datepicker table tr td.active.disabled:hover[disabled] {
    background-color: var(--color-main);
    
}

.datepicker table tr td span.active:hover, .datepicker table tr td span.active:hover:hover, .datepicker table tr td span.active.disabled:hover, .datepicker table tr td span.active.disabled:hover:hover, .datepicker table tr td span.active:active, .datepicker table tr td span.active:hover:active, .datepicker table tr td span.active.disabled:active, .datepicker table tr td span.active.disabled:hover:active, .datepicker table tr td span.active.active, .datepicker table tr td span.active:hover.active, .datepicker table tr td span.active.disabled.active, .datepicker table tr td span.active.disabled:hover.active, .datepicker table tr td span.active.disabled, .datepicker table tr td span.active:hover.disabled, .datepicker table tr td span.active.disabled.disabled, .datepicker table tr td span.active.disabled:hover.disabled, .datepicker table tr td span.active[disabled], .datepicker table tr td span.active:hover[disabled], .datepicker table tr td span.active.disabled[disabled], .datepicker table tr td span.active.disabled:hover[disabled] {
    background-color: var(--color-main);
    
}
.datepicker table tr td span:hover, .datepicker table tr td span.focused {
    background: var(--color-main);
    color:white;
}
.datepicker .datepicker-months .month{
    font-size: 14px;
}
.datepicker .prev, .datepicker .next{
    font-size: 25px;
}
.datepicker .prev:hover, .datepicker .next:hover {
    font-size: 25px;
}
.datepicker .datepicker-switch {
    color: rgba(255, 255, 255, 0.7);
    background: transparent;
}
.datepicker .datepicker-switch:hover {
    color: white;
}

/* End Page Customer List */

.warehouse-orders-report .find{
    font-size: 15px;
    padding: 9px;
    padding-right: 20px;
    padding-left: 20px;
    color: #fff;
    background-color: var(--color-main);
    border-color: var(--color-main);
}

.warehouse-orders-report .add-up{
    color: #fff;
    background-color: var(--color-main);
    border-color: var(--color-main);
}

.warehouse-orders-report .search-date{
    height: 40px;
    border: 1px solid #c9c9c9;
    font-size: 14px;
    
}
.warehouse-orders-report .search-date:focus{
    border: 1px solid var(--color-main);
    box-shadow: inset 0 1px 1px rgb(0 124 160 / 10%), 0 0 20px rgb(0 124 160/ 10%);
}

.warehouse-orders-report .input-group-text{
    font-size: 15px;
}

.warehouse-orders-report .form-search-date{
    margin-top: 10px;
    margin-bottom: 20px;
}

.warehouse-orders-report .line{
    height: 1px;
    background: #c9c9c9;
    margin-bottom: 20px;;
}



.warehouse-orders-report .dropdown-toggle::after{
    visibility: hidden;
}
.warehouse-orders-report .dropdown-toggle{
    padding: 0px;
    border: 0px;
}

.warehouse-orders-report .dropdown-menu{
    border: 0px !important;
    background-color: transparent !important;
    box-shadow: none !important;
    left: -10px !important;
    top: -5px !important
}

.warehouse-orders-report .list-group-item-invoice{
    font-size: 13.8px;
    color: gray;
    background-color: white;
    right: -10px;
    width: auto;
}

.warehouse-orders-report .list-group-item-invoice:hover{
    background-color:  #e9ecef;
    color: #495049;
}

.warehouse-orders-report .btn-list{
    background-color: #e9ecef;
    color: #495049;
    border-radius: 2px;
    font-size: 15px;
    height: 42px;
    padding-left: 15px;
    border: 1px solid #c9c9c9;
    margin-left: 25px !important;
}

.warehouse-orders-report .fa-code-branch{
    margin-right: 10px;
}

.warehouse-orders-report .fa-money{
    margin-right: 10px;
}

.warehouse-orders-report .row-filter{
    margin-bottom: 20px;
}
.warehouse-orders-report .row-detailed{
    margin-top: 20px;
}
.warehouse-orders-report .address{
    margin-left: 15px;
    font-size: 20px;
}
.warehouse-orders-report .dt-buttons button{
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 15px;
    line-height: 1.5;
    border-radius: 0.25rem;
}
.warehouse-orders-report .buttons-excel{
    background-color: #e99532;
}
.warehouse-orders-report .buttons-pdf{
    background-color: #e46f68;
}
.warehouse-orders-report .buttons-print{
    background-color: #17a2b8d1;
}
.warehouse-orders-report .detailed{
    border-left: 2px solid var(--color-main);
    border-bottom: 2px solid var(--color-main);
    padding-bottom: 5px;
    padding-left: 10px;
}
.warehouse-orders-report table{
    margin: auto;
}
.warehouse-orders-report .dataTables_info{
    margin-left: 18px;
}
.warehouse-orders-report .pagination{
    margin-right: 20px !important;
}
.warehouse-orders-report .dataTables_filter{
    margin-right: 20px;
}
.warehouse-orders-report .dt-buttons{
    margin-top: 20px;
    margin-left: 20px;
}
@media (max-width: 767px) {
    .warehouse-orders-report .dt-buttons{
        margin-bottom: 20px;
        text-align: center;
    }
}
.warehouse-orders-report .dataTables_filter input{
    margin-bottom: 0px !important;
}
.warehouse-orders-report .col-form-label{
    font-size: 15px;
    font-weight: normal;
}
.warehouse-orders-report .form-control-plaintext{
    font-size: 15px;
}
.warehouse-orders-report form{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
}
.warehouse-orders-report .read{
    background-color: white;
    height: 40px;
    font-size: 15px;
    cursor: auto;
    padding-left: 20px;
}
.warehouse-orders-report .read:focus{
    border: 1px solid #ced4da;
}
.warehouse-orders-report .total-span{
    height: 40px;
    background-color: var(--color-second);
    min-width: 200px;
}
.warehouse-orders-report .row-graphic{
    margin-top: 30px;

}
.warehouse-orders-report .line-graphic{
    margin-top: 30px;
}
.dataTables_wrapper{
    overflow: auto;
}
.warehouse-orders-report .chartContainer{
    margin-top: 30px;
    overflow: auto;
}